body {
  background-color: antiquewhite;
}
.wrapper {
  margin: 0px auto;
  width: 1024px;
}
.logo {
  height: 250px;
}
.logo img {
  width: 100%;
}
.nav {
  background-color: #b63d32;
  text-align: center;
}
ul {
  display: flex;
  margin: 0px;
}
li {
  list-style-type: none;
  float: left;
  text-align: center;
}
li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px 20px;
}
li a:hover {
  color: #ffc90e;
}
content {
  width: 774px;
  float: left;
  height: 400px;
  background-color: #f4f4ed;
}
content h1 {
  color: #b63d32;
  margin-bottom: 10px;
}
content p {
  font-size: 15px;
  margin-bottom: 20px;
}
content a {
  background-color: #b63d32;
  color: #fff;
  text-decoration: none;
  text-align: center;
  width: 100px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
  display: block;
}
.cin {
  text-align: center;
  padding: 30px 50px;
}
aside {
  width: 250px;
  height: 400px;
  float: left;
  background-color: beige;
}
aside ul {
  display: block;
  margin: 30px 50px;
}
aside li a {
  color: black;
  border-style: solid;
  border-color: #b63d32;
  margin: 10px;
  padding: 10px;
}
aside a :hover {
  color: #fff;
  border-color: #fff;
}
footer {
  clear: both;
  background-color: #71552a;
  text-align: center;
}
footer p {
  font-size: 10px;
  color: #fff;
  padding: 10px 0px;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  li a {
    padding: 10px;
  }
}
